<!DOCTYPE html>
<html>
<head>
    <title>Timer</title>
    <link rel="icon" type="image/png" href="time.png"/>
</head>
<body style="display: flex; align-items: center;">
<!-- Создаём три кнопки по центру -->
<div style='text-align: center; padding-bottom: 20px;'>
    <div style="margin-bottom:20px;">
        <input id="set" type="button" value="set" onclick="set">
        <input id="start" type="button" value="start" onclick="start">
        <input id="stop" type="button" value="stop" onclick="stop">
    </div>
    <form method='post' action='/start'>
        <input type="text" id="day" name="day" value=""/>
        <input type="text" id="hou" name="hou" value=""/>
        <input type="text" id="m" name="m" value=""/>
        <input type="text" id="sec" name="sec" value=""/>
        <button type="submit" >set</button>
    </form>
</div>
	<!-- пишем скрипт с функциями для соответствующих кнопулек -->
<script>
document.getElementById("getcurpos").onclick = function (){
navigator.geolocation.getCurrentPosition(
function(position) {
<!--	let elem = document.getElementById("elem");-->
    let lat = document.getElementById("lat");
    let long = document.getElementById("long");
	let text = position.coords.latitude + ", "  + position.coords.longitude
	console.log(position)
	let HTML = {
            accuracy: position.coords.accuracy,
            altitude: position.coords.altitude,
            altitudeAccuracy: position.coords.altitudeAccuracy,
            heading: position.coords.heading,
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            speed: position.coords.speed,
}
<!--          elem.innerHTML = 'curpos = ' + text;-->
          lat.value = position.coords.latitude;
          long.value = position.coords.longitude;
          link.value = 'https://www.google.com/maps/place/'+position.coords.latitude+'+'+position.coords.longitude
}
);
}

document.getElementById("watpos").onclick =
function (){
let watchID = navigator.geolocation.watchPosition(
function(position) {
	console.log(position.coords.latitude, position.coords.longitude);
	let elem = document.getElementById("elem")
	elem.innerHTML = position.coords.latitude + ", " + position.coords.longitude + "\n"
}
);
let stop = document.getElementById("stopwatpos").onclick = function (){
navigator.geolocation.clearWatch(watchID);
let elem = document.getElementById("elem")
elem.innerHTML = "stopped"
}
}

let position = navigator.geolocation.getCurrentPosition(
function(position){})

let loc = {
	latitude: position.coords.latitude,
    longitude: position.coords.longitude
};
var request = new XMLHttpRequest();
function reqReadyStateChange() {
    if (request.readyState == 4 && request.status == 200)
        document.getElementById("elem").innerHTML=request.responseText;
}
var body = "lat=" + loc.latitude + "&long="+ loc.longitude;
request.open("POST", "http://localhost:8080/postdata.php");
request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
request.onreadystatechange = reqReadyStateChange;
request.send(body);
</script>
</body>
</html>



