<!DOCTYPE HTML>
<html>
<head>
<style>
p {
    margin-top: 15%;
    text-align: center;
    font-weight: 900;
    font-size: 200px;
}
</style>
</head>
<body>
<div>
<p id="demo"></p>
</div>
<script>
var dat = "Sep 10, 2020 0:0:0"
var deadline = new Date(dat).getTime();
var x = setInterval(function() {
var now = new Date().getTime();
var t = deadline - now;
var days = Math.floor(t / (1000 * 60 * 60 * 24));
var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((t % (1000 * 60)) / 1000);
document.getElementById("demo").innerHTML = days + "д "
+ hours + "ч " + minutes + "м " + seconds + "с ";
    if (t < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "Время истекло";
    }
}, 1000);
</script>
</body>
</html>